<div class="tree-root">
  {{#each analyzis.tree}}
  <div class="tree-branch">
    <strong>{{this.word}}</strong>
    {{#each this.detail}}
      <em data-tooltip="{{this.description}}">{{this.type}}</em>
    {{/each}}
    {{#if this.children}}
      <div>
        {{#each this.children}}
          <div class="tree-leaf">
            <strong>{{this.word}}</strong>
            {{#each this.detail}}
              <em data-tooltip="{{this.description}}">{{this.type}}</em>
            {{/each}}
          </div>
        {{/each}}
      </div>
    {{/if}}
  </div>
  {{/each}}
</div>
<article>
  <details name="remark">
    <summary>Remark</summary>
    <p>{{analyzis.structure}}</p>
    <p>{{analyzis.wordOrder}}</p>
    <p>{{analyzis.caseUsage}}</p>
    <p>{{analyzis.explanation}}</p>
  </details>
</article>